{# templates/emails/registration.html.twig #}
<h3>Vous vous êtes enregistré</h3>

Bonjour {{ username }}! Vous vous êtes enregistré avec succes {{ email }} email.

{# example, assuming you have a route named "login" #}
Pour vous connecter, allez sur <a href="{{ url('login') }}">{{ url('login') }}</a>.

Merci


